      body {
				top:0;
          margin: 0;
          font-family: monospace;
					background-color: black;
      }
      canvas {
				top:0;
          position: absolute;
          display: block;
          width: 100vw;
          height: 100vh;
      }

#menuContainer {
	top:0;
	text-align:center;
	width:100%;
	position: absolute;
}

#title {
	margin:35px 0;
	background-color: transparent; 
  color:white;
  font-size:52px;

	user-select: none;
}

button{
	background-color: black;
  color:white;
  font-size:48px;

	margin: 40px auto;
	display: block;
	user-select: none;
}

.subtitleBar {
	bottom:0;
	width: calc(100% - 20px);
	position: absolute;
	padding: 10px;
	margin:14px 0;

	text-align: justify;
	background-color: rgba(0, 0, 0, 0.5);
  	color:white;
  	font-size:32px;
	user-select: none;
}

.subtitleBar:empty {
	display: none;
}


