body {
	top:0;
    margin: 0;
    font-family: monospace;
	background-color: black;
}

body::-webkit-scrollbar {
	display: none;
}

canvas {
	top:0;
    position: absolute;
    display: block;
    width: 100vw;
	height: 100vh;
}

#menuContainer {
	top:0;
	text-align:center;
	width:100%;
	position: absolute;
}

.title {
	margin:35px 0;
	background-color: transparent; 
	color:white;
	font-size:52px;

	user-select: none;
}

button {
	background-color: black;
	color:white;
	font-size:48px;
	width: 420px;
	height: 70px;

	margin: 40px auto;
	display: block;
	user-select: none;
	box-sizing: border-box;
}

button:hover {
	border-width: thick;
}

.subtitleBar {
	bottom:0;
	width: calc(100% - 20px);
	position: absolute;
	padding: 10px;
	margin:14px 0;

	text-align: justify;
	background-color: rgba(0, 0, 0, 0.5);
  	color:white;
	font-size:32px;
	user-select: none;
}

.subtitleBar:empty {
	display: none;
}

#overlay {
	top: 0;
	left: 0;
	position: absolute;
	padding: 3px;
  	color:white;
	font-size:22px;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
	user-select: none;
}

#pause {
	top: 0;
	left: 0;
	position: absolute;
	padding: 10px;
  	color:white;
	font-size:42px;
	text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
	user-select: none;
	opacity: 0;
}


